{% include 'header.html' %}

    <!-- ====== MAIN CONTENT ====== -->
    <div class="page-header border-bottom">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center py-4" style="padding-bottom:0.5rem !important">
                <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Shop Single</h1>
                <nav class="woocommerce-breadcrumb font-size-2">
                    <a href="../home/index.html" class="h-primary">Home</a>
                    <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                    <a href="../shop/v4.html" class="h-primary">Shop</a>
                    <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>Shop Single
                </nav>
            </div>
        </div>
    </div>
    <div class="site-content" id="content">
        <div class="container">
            <div class="row  space-top-2">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main ">
                        <div class="product">
                            <div class="container">
                                <div class="row">
                                    <div
                                        class="col-lg-5 woocommerce-product-gallery woocommerce-product-gallery--with-images images">
                                        <figure class="woocommerce-product-gallery__wrapper mb-0">
                                            <div class="js-slick-carousel u-slick slick-initialized slick-slider slick-dotted"
                                                data-pagi-classes="text-center u-slick__pagination my-4">
                                                <div class="slick-list draggable">
                                                    <div class="slick-track"
                                                        style="opacity: 1; width: 1014px; transform: translate3d(0px, 0px, 0px);">
                                                        <div class="js-slide slick-slide slick-current slick-active"
                                                            data-slick-index="0" aria-hidden="false"
                                                            style="width: 338px; height: auto;" tabindex="0"
                                                            role="tabpanel" id="slick-slide00"
                                                            aria-describedby="slick-slide-control00">
                                                            <img src="/static/img/horror/img3.png"
                                                                alt="Image Description" class="mx-auto img-fluid">
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-lg-7 pl-lg-0 summary entry-summary">
                                        <div class="px-lg-4 px-xl-6">
                                            <h1 class="product_title entry-title font-size-7 mb-3">Hover to zoom
                                                Classic Horror Stories</h1>
                                            <div class="font-size-2 mb-4">
                                                <span class="text-yellow-darker">
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                </span>
                                                <span class="ml-3">(3,714)</span>
                                                <span class="ml-3 font-weight-medium">By (author)</span>
                                                <span class="ml-2 text-gray-600">Anna Banks</span>
                                            </div>

                                            <div
                                                class="woocommerce-product-details__short-description font-size-2 mb-4">
                                                <p class="">Unique Collection with a mix of all sorts of stories to entertain reader of all classes

                                                    <h4>Table of Contents</h4>
                                                    
                                                    Various Horror Stories</p>
                                            </div>

                                            <p class="price font-size-22 font-weight-medium mb-4">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">Rs </span>29.95
                                                </span> –
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">Rs </span>59.95
                                                </span>
                                            </p>

                                          

                                            <form class="cart d-md-flex align-items-center" method="post"
                                                enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="quantity mb-4 mb-md-0 d-flex align-items-center">
                                                    <!-- Quantity -->
                                                    <div class="border px-3 width-120">
                                                        <div class="js-quantity">
                                                            <div class="d-flex align-items-center">
                                                                <label
                                                                    class="screen-reader-text sr-only">Quantity</label>
                                                                <a class="js-minus text-dark" href="javascript:;">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        width="10px" height="1px">
                                                                        <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                            d="M-0.000,-0.000 L10.000,-0.000 L10.000,1.000 L-0.000,1.000 L-0.000,-0.000 Z">
                                                                        </path>
                                                                    </svg>
                                                                </a>
                                                                <input type="number"
                                                                    class="input-text qty text js-result form-control text-center border-0"
                                                                    step="1" min="1" max="100" name="quantity" value="1"
                                                                    title="Qty">
                                                                <a class="js-plus text-dark" href="javascript:;">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        width="10px" height="10px">
                                                                        <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                                                                            d="M10.000,5.000 L6.000,5.000 L6.000,10.000 L5.000,10.000 L5.000,5.000 L-0.000,5.000 L-0.000,4.000 L5.000,4.000 L5.000,-0.000 L6.000,-0.000 L6.000,4.000 L10.000,4.000 L10.000,5.000 Z">
                                                                        </path>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Quantity -->
                                                </div>

                                                <button type="" name="" value="7145"
                                                    class="btn btn-dark border-0 rounded-0 p-3 btn-block ml-md-4 single_add_to_cart_button button alt"><a href="/cart">Add to cart</a></button>

                                            </form>
                                        </div>
                                        <div class="px-lg-4 px-xl-7 py-5 d-flex align-items-center">
                                            <ul class="list-unstyled nav">
                                                <li class="mr-6 mb-4 mb-md-0">
                                                    <a href="/wishlist" class="h-primary"><i class="flaticon-heart mr-2"></i>
                                                        Add to Wishlist</a>
                                                </li>
                                                <li class="mr-6">
                                                    <a href="#" class="h-primary"><i class="flaticon-share mr-2"></i>
                                                        Share</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Features Section -->
                            <div class="woocommerce-tabs wc-tabs-wrapper mb-10 row">
                                <!-- Nav Classic -->
                                <ul class="col-lg-4 col-xl-3 pt-9 border-top d-lg-block tabs wc-tabs nav justify-content-lg-center flex-nowrap flex-lg-wrap overflow-auto overflow-lg-visble"
                                    id="pills-tab" role="tablist">
                                    <li class="flex-shrink-0 flex-lg-shrink-1 nav-item mb-3">
                                        <a class="py-1 d-inline-block nav-link font-weight-medium active"
                                            id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1"
                                            role="tab" aria-controls="pills-one-example1" aria-selected="true">
                                            Description
                                        </a>
                                    </li>
                                    <li class="flex-shrink-0 flex-lg-shrink-1 nav-item mb-3">
                                        <a class="py-1 d-inline-block nav-link font-weight-medium"
                                            id="pills-two-example1-tab" data-toggle="pill" href="#pills-two-example1"
                                            role="tab" aria-controls="pills-two-example1" aria-selected="false">
                                            Product Details
                                        </a>
                                    </li>
                                    <li class="flex-shrink-0 flex-lg-shrink-1 nav-item mb-3">
                                        <a class="py-1 d-inline-block nav-link font-weight-medium"
                                            id="pills-three-example1-tab" data-toggle="pill"
                                            href="#pills-three-example1" role="tab" aria-controls="pills-three-example1"
                                            aria-selected="false">
                                            Terms & Condition
                                        </a>
                                    </li>
                                    <li class="flex-shrink-0 flex-lg-shrink-1 nav-item mb-3">
                                        <a class="py-1 d-inline-block nav-link font-weight-medium"
                                            id="pills-four-example1-tab" data-toggle="pill" href="#pills-four-example1"
                                            role="tab" aria-controls="pills-four-example1" aria-selected="false">
                                            Reviews (0)
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Nav Classic -->

                                <!-- Tab Content -->
                                <div class="tab-content col-lg-8 col-xl-9 border-top" id="pills-tabContent">
                                    <div class="woocommerce-Tabs-panel panel entry-content wc-tab tab-pane fade border-left pl-4 pt-4 pl-lg-6 pt-lg-6 pl-xl-9 pt-xl-9 show active"
                                        id="pills-one-example1" role="tabpanel"
                                        aria-labelledby="pills-one-example1-tab">
                                        <!-- Mockup Block -->
                                        <p class="mb-3 ml-5">Unique Collection with a mix of all sorts of stories to entertain reader of all classes.</p>
                                        <h4 class="mb-3">Table of Contents</h4>
                                        <p class="mb-3 ml-5">Various Horror Stories</p>
                                        <h4 class="mb-4">Other Details</h4>
                                        <p class="ml-5">Country of Origin or Manufacture or Assembly	India</p>
                                        <p class="ml-5">Common or Generic Name of the commodity	Teens Fiction</p>
                                        <p class="ml-5">Manufacturer's Name & Address</p>	
                                        <p class="ml-5">Packer's Name & Address</p>	
                                        <p class="ml-5">Marketer's Name & Address</p>	
                                        <p class="ml-5">Importer's Name & Address</p>
                                        
                                        <h4 class="mb-4">Highlights</h4>
                                        <div class="spec-body p-keyfeatures" >
                                            <ul class="dtls-list clear">
                                                <li class="col-xs-8 dtls-li ml-5" >
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">ISBN-13 :9789350121726</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">ISBN-10 :9350121727</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">Language :English</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">Binding :Paperback</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">Publisher :LIttle Scholarz Pvt. Ltd.</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">Author :MR Jame, Ambrose Bierce, Bram Stocker, etc.</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">Number of Pages :240</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">Year of Publishing :2018</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">Edition : 2018</span>
                                                    </li>
                                                <li class="col-xs-8 dtls-li  ml-5" id="highlightSupc">
                                                    <span class="list-cicrle-cont"><span class="list-circle"></span></span>
                                                       <span class="h-content">SUPC: SDL715306590</span>
                                                    </li>
                                                </ul>
                                        </div>
                                        <!-- End Mockup Block -->
                                    </div>
                                   
                                    <div class="woocommerce-Tabs-panel panel entry-content wc-tab tab-pane fade border-left pl-4 pt-4 pl-lg-6 pt-lg-6 pl-xl-9 pt-xl-9"
                                        id="pills-two-example1" role="tabpanel"
                                        aria-labelledby="pills-two-example1-tab">
                                        <!-- Mockup Block -->
                                        <div class="table-responsive mb-4">
                                            <table class="table table-hover table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <th class="px-4 px-xl-5">Name:</th>
                                                        <td>Hover to zoom Classic Horror Stories</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="px-4 px-xl-5">Format: </th>
                                                        <td class="">Paperback | 384 pages</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th class="px-4 px-xl-5">Publication date: </th>
                                                        <td>20 Dec 2020</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="px-4 px-xl-5">Publisher:</th>
                                                        <td>Little, Brown Book Group</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="px-4 px-xl-5">Imprint:</th>
                                                        <td>Corsair</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="px-4 px-xl-5">Publication City/Country:</th>
                                                        <td>India, Ahmedabad</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="px-4 px-xl-5">Language:</th>
                                                        <td>English</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- End Mockup Block -->
                                    </div>
                                    <div class="woocommerce-Tabs-panel panel entry-content wc-tab tab-pane fade border-left pl-4 pt-4 pl-lg-6 pt-lg-6 pl-xl-9 pt-xl-9"
                                        id="pills-three-example1" role="tabpanel"
                                        aria-labelledby="pills-three-example1-tab">
                                        <!-- Mockup Block -->
                                        <div class="d-flex mb-8 justify-content-center">
                                            <h5>The images represent actual product though color of the image and product may slightly differ.<br>

                                                Snapdeal does not select, edit, modify, alter, add or supplement the information, description and other specifications provided by the Seller.</h5>
                                        </div>
                                        <!-- End Mockup Block -->
                                    </div>
                                    <div class="woocommerce-Tabs-panel panel entry-content wc-tab tab-pane fade border-left pl-4 pt-4 pl-lg-6 pt-lg-6 pl-xl-9 pt-xl-9"
                                        id="pills-four-example1" role="tabpanel"
                                        aria-labelledby="pills-four-example1-tab">
                                        <!-- Mockup Block -->
                                        <h4 class="font-size-3">Customer Reviews </h4>
                                        <div class="mb-8">
                                            <div class="mb-6">
                                                <div class="d-flex  align-items-center mb-4">
                                                    <span class="font-size-15 font-weight-bold">4.6</span>
                                                    <div class="ml-3 h6 mb-0">
                                                        <span class="font-weight-normal">3,714 reviews</span>
                                                        <div class="text-yellow-darker">
                                                            <small class="fas fa-star"></small>
                                                            <small class="fas fa-star"></small>
                                                            <small class="fas fa-star"></small>
                                                            <small class="fas fa-star"></small>
                                                            <small class="far fa-star"></small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-xl-flex">
                                                    <button type="button"
                                                        class="d-block btn btn-outline-dark rounded-0 px-5 mb-3 mb-xl-0">See
                                                        all reviews</button>
                                                    <button type="button"
                                                        class="d-block btn btn-dark ml-xl-3 rounded-0 px-5">Write a
                                                        review</button>
                                                </div>
                                            </div>
                                            <div class="">
                                                <!-- Ratings -->
                                                <ul class="list-unstyled">
                                                    <li class="py-2">
                                                        <a class="row align-items-center mx-gutters-2 font-size-2"
                                                            href="javascript:;">
                                                            <div class="col-auto">
                                                                <span class="text-dark">5 stars</span>
                                                            </div>
                                                            <div class="col px-0">
                                                                <div class="progress bg-white-100" style="height: 7px;">
                                                                    <div class="progress-bar bg-yellow-darker"
                                                                        role="progressbar" style="width: 100%;"
                                                                        aria-valuenow="100" aria-valuemin="0"
                                                                        aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <span class="text-secondary">205</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="py-2">
                                                        <a class="row align-items-center mx-gutters-2 font-size-2"
                                                            href="javascript:;">
                                                            <div class="col-auto">
                                                                <span class="text-dark">4 stars</span>
                                                            </div>
                                                            <div class="col px-0">
                                                                <div class="progress bg-white-100" style="height: 7px;">
                                                                    <div class="progress-bar bg-yellow-darker"
                                                                        role="progressbar" style="width: 53%;"
                                                                        aria-valuenow="53" aria-valuemin="0"
                                                                        aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <span class="text-secondary">55</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="py-2">
                                                        <a class="row align-items-center mx-gutters-2 font-size-2"
                                                            href="javascript:;">
                                                            <div class="col-auto">
                                                                <span class="text-dark">3 stars</span>
                                                            </div>
                                                            <div class="col px-0">
                                                                <div class="progress bg-white-100" style="height: 7px;">
                                                                    <div class="progress-bar bg-yellow-darker"
                                                                        role="progressbar" style="width: 20%;"
                                                                        aria-valuenow="20" aria-valuemin="0"
                                                                        aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <span class="text-secondary">23</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="py-2">
                                                        <a class="row align-items-center mx-gutters-2 font-size-2"
                                                            href="javascript:;">
                                                            <div class="col-auto">
                                                                <span class="text-dark">2 stars</span>
                                                            </div>
                                                            <div class="col px-0">
                                                                <div class="progress bg-white-100" style="height: 7px;">
                                                                    <div class="progress-bar bg-yellow-darker"
                                                                        role="progressbar" style="width: 0%;"
                                                                        aria-valuenow="0" aria-valuemin="0"
                                                                        aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <span class="text-secondary">0</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="py-2">
                                                        <a class="row align-items-center mx-gutters-2 font-size-2"
                                                            href="javascript:;">
                                                            <div class="col-auto">
                                                                <span class="text-dark">1 stars</span>
                                                            </div>
                                                            <div class="col px-0">
                                                                <div class="progress bg-white-100" style="height: 7px;">
                                                                    <div class="progress-bar bg-yellow-darker"
                                                                        role="progressbar" style="width: 1%;"
                                                                        aria-valuenow="1" aria-valuemin="0"
                                                                        aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <span class="text-secondary">4</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- End Ratings -->
                                            </div>
                                        </div>

                                        <h4 class="font-size-3 mb-8">1-5 of 44 reviews</h4>

                                        <ul class="list-unstyled mb-8">
                                            <li class="mb-4 pb-5 border-bottom">
                                                <div class="d-flex align-items-center mb-3">
                                                    <h6 class="mb-0">Amazing Story! You will LOVE it</h6>
                                                    <div class="text-yellow-darker ml-3">
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="far fa-star"></small>
                                                    </div>
                                                </div>
                                                <p class="mb-4 text-lh-md">Such an incredibly complex story! I had to
                                                    buy it because there was a waiting list of 30+ at the local library
                                                    for this book. Thrilled that I made the purchase</p>
                                                <div class="text-gray-600 mb-4">Staci, February 22, 2020 </div>
                                                <ul class="nav">
                                                    <li class="mr-7">
                                                        <a href="#" class="text-gray-600 d-flex align-items-center">
                                                            <i class="text-dark font-size-5 flaticon-like-1"></i>
                                                            <span class="ml-2">90</span>
                                                        </a>
                                                    </li>
                                                    <li class="mr-7">
                                                        <a href="#" class="text-gray-600 d-flex align-items-center">
                                                            <i class="text-dark font-size-5 flaticon-dislike"></i>
                                                            <span class="ml-2">10</span>
                                                        </a>
                                                    </li>
                                                    <li class="mr-7">
                                                        <a href="#" class="text-gray-600 d-flex align-items-center">
                                                            <i class="text-dark font-size-5 flaticon-flag"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            
                                        </ul>

                                        <h4 class="font-size-3 mb-4">Write a Review</h4>
                                        <div class="d-flex align-items-center mb-6">
                                            <h6 class="mb-0">Select a rating(required)</h6>
                                            <div class="text-yellow-darker ml-3 font-size-4">
                                                <small class="far fa-star"></small>
                                                <small class="far fa-star"></small>
                                                <small class="far fa-star"></small>
                                                <small class="far fa-star"></small>
                                                <small class="far fa-star"></small>
                                            </div>
                                        </div>
                                        <div class="js-form-message form-group mb-4">
                                            <label for="descriptionTextarea"
                                                class="form-label text-dark h6 mb-3">Details please! Your review helps
                                                other shoppers.</label>
                                            <textarea class="form-control rounded-0 p-4" rows="7"
                                                id="descriptionTextarea"
                                                placeholder="What did you like or dislike? What should other shoppers know before buying?"
                                                required="" data-msg="Please enter your message."
                                                data-error-class="u-has-error"
                                                data-success-class="u-has-success"></textarea>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="inputCompanyName" class="form-label text-dark h6 mb-3">Add a
                                                title</label>
                                            <input type="text" class="form-control rounded-0 px-4" name="companyName"
                                                id="inputCompanyName" placeholder="3000 characters remaining"
                                                aria-label="3000 characters remaining">
                                        </div>
                                        <div class="d-flex">
                                            <button type="submit"
                                                class="btn btn-dark btn-wide rounded-0 transition-3d-hover">Submit
                                                Review</button>
                                        </div>
                                        <!-- End Mockup Block -->
                                    </div>
                                </div>
                                <!-- End Tab Content -->
                            </div>
                            <!-- End Features Section -->

                        </div>
                    </main>
                </div>
               
            </div>

        </div>
    </div>
    <!-- ====== END MAIN CONTENT ====== -->

    <!-- ========== FOOTER ========== -->
{% include 'footer.html' %}